* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  gap: 40px;
  button.filter_btn,
  button.reset {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
  }
  button.filter_btn {
    background-color: blue;
  }
  button.reset {
    background-color: red;
  }
}

div.items {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  div.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 400px;
    img.product_img {
      width: 225px;
      height: 225px;
      margin-top: 14px;
    }
    div.name_price {
      display: flex;
      margin-top: 20px;
      margin-bottom: 10px;
      gap: 50px;
    }
    p.name {
      margin-bottom: 10px;
    }
    button.add_btn {
      width: 250px;
      height: 33px;
      border-radius: 10px;
      border: none;
      background-color: green;
      color: white;
      font-size: 15px;
    }
    span.category {
      display: inline-block;
    }
    div.brand_category {
      display: flex;
      gap: 170px;
    }
  }
}
